.App {
  text-align: center;
  height: 100vh;
  display: grid;
  place-items: center;
}
  
.App__form {
  display: flex;
  flex-direction: column;
}
  
input {
  padding: 7px 11px;
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid gray;
  margin: 20px;
  outline: none;
}
  
button {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding: 7px 12px;
  border: none;
  border-radius: 4px;
}