footer{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: white;
    background-color: darkblue;
    text-align: center;
}