header{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 20%;
    height: auto;
    padding: 3%;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    padding: 3%;
}