nav{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    
}

a{
    color: black;
    font-size: 30px;
    padding: 2%;
}

a:hover{
    background-color: black;
    color: white;
}