header{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #dcdcdc;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 40%;
    height: auto;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
}