* {margin: 0; padding: 0;}

main{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 100%;
  min-height: 700px;
}
section{

  padding: 3%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}