nav{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    
}

a{
    color: black;
    font-size: 30px;
}

a:hover{
    background-color: black;
    color: white;
}